{{!--
    Licensed to the Apache Software Foundation (ASF) under one or more
    contributor license agreements.  See the NOTICE file distributed with
    this work for additional information regarding copyright ownership.
    The ASF licenses this file to You under the Apache License, Version 2.0
    (the "License"); you may not use this file except in compliance with
    the License.  You may obtain a copy of the License at
        http://www.apache.org/licenses/LICENSE-2.0
    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.
--}}
<div id="{{@key}}" class="type hidden">
    <h3>{{@key}}</h3>
    <div class="type-container">
        <table>
            <tr>
                <th>Name</th>
                <th>Type</th>
                <th>Required</th>
                <th>Description</th>
            </tr>
            {{#each properties}}
                <tr>
                    <td>{{@key}}</td>
                    <td>
                        {{#ifeq type "array"}}
                            {{#items.$ref}}
                                {{type}}[<a class="type-link" href="javascript:void(0);">{{basename items.$ref}}</a>]
                            {{/items.$ref}}
                            {{^items.$ref}}
                                {{type}}[{{items.type}}]
                            {{/items.$ref}}
                        {{else}}
                            {{#$ref}}
                                <a class="type-link" href="javascript:void(0);">{{basename $ref}}</a>
                            {{/$ref}}
                            {{^$ref}}
                                {{type}}{{#format}} ({{format}}){{/format}}
                            {{/$ref}}
                        {{/ifeq}}
                    </td>
                    <td>{{#required}}required{{/required}}{{^required}}optional{{/required}}</td>
                    <td>{{#description}}{{{description}}}{{/description}}
                        {{#if enum}} Allowable values: {{join enum ", "}}{{/if}}
                        {{#if readOnly}} This property is read only.{{/if}}</td>
                </tr>
            {{/each}}
        </table>
        <h4>Example JSON</h4>
        <code class="example"><span class="open-object">&#123;{{> example}}&#125;</span></code>
    </div>
    <div class="close">Close</div>
    <div class="clear"></div>
</div>